*{
    margin: 0;

}
.two{
    display: flex;
}
.side-bar{
    background-color: black;
    color: white;
    float: left;
    width: 220px;
    padding-bottom: 500px;

}

.body-content{
    float: right;
    width: 100%;
    background-color: #121212;
}

#cont{
    padding: 20px;
}

.dash{
    background-color: white;
    height: 1px;
    width: 70%;
    margin-left: 25px;
    margin-top: 30px;
}


#top1,#top3{
    display: flex;
    padding-right: 50px;
    margin-top: 20px;
    
    font-size: 20px;
    color: #adaab5;

}

#top3{
    
    margin-left: 500px;
}
#top1{

    margin-left: 10px;    
}

.search{
    margin-left: 120px;
    background-color: rgb(59, 51, 51);
    border: none;
    margin-top: 13px;
    border-radius: 6px;
    color:white;
    padding-left: 10px;

    height: 25px;
    margin-left: 60px;
    width: 200px;
    outline: none;
}

.search:focus{
    width: 250px;
}

.search::placeholder{

   padding-left: 20px;
}
.logo{
    display: flex;
    float: left;
    border-radius: 50%;
    margin-top: 50px;
}

.heading{
    display: flex;
    margin-top: 40px;
    
    
}

#spotify, #navs{
    text-decoration: none;
    
}

#spotify{
    -webkit-text-fill-color: #adaab5;
    font-family: 'Times New Roman', Times, serif;
}

#navs{
    -webkit-text-fill-color: #adaab5;
    position: relative;
}

#navs::after{

    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    

}
#navs:hover{
    -webkit-text-fill-color: #ffffff;
}
#navs:hover::after{
    width: 100%;
}
.right-top{
    height: 50px;
    width: 100%;
    margin-left:px;
    background-color: rgba(0, 0, 0, 0.58);
    position: fixed;
    display: flex;
    float: left;
}

.array1, .array2{
    display: flex;

}

#sg{
    height: 80px;
    width: 250px;
    background-color: rgb(36, 33, 33);
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 5px;


}

#sg:hover{
    background-color: rgb(82, 75, 75)
}

#sg-img{
    height: 70px;
    width: 70px;
    display: flex;
    float: left;
    
    padding: 5px;

}

#sg-name{
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#topics{
    margin-left:30px;
    margin-top: 120px;
    color: antiquewhite;
}

.material-icons{
    color: black;
    font-size: 25px;
    margin-left: 110px;
    margin-top: 10px;
    position: relative;
    background-color: #1FDF64;
    border-radius: 50%;
    opacity: 0;
}


#sg:hover .material-icons{
    opacity: 1;
}

.material-icons:hover{
    font-size: 27px;
    background-color: #59e48c;
}